body {
  margin: 0;
  padding: 0;
  font-family: "RobotoDraft", "Roboto", sans-serif;
  background: #F8F9F9;
  color: #4C4C4C;
}

#main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #F8F9F9;
  margin: auto;
}

.logoTitle {
  text-align: center;
  margin: 1em auto 2em auto;
  font-size: 2em;
}

.homeOptions {
  margin: 10px auto;
  text-align: center;
}

.homeOptions .button {
  margin: 2em auto;
  max-width: 15em;
}

.button {
  display: block;
  box-sizing: content-box;
  text-decoration: none;
  text-align: center;
  font-size: 1em;
  background: #2C97DE;
  border: none;
  color: #FFF;
  padding: 0.8em;
  min-width: 1em;
  -webkit-box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.4);
  box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.4);
}

.button:hover {
  text-decoration: none;
  cursor: pointer;
}

.centeredButton {
  min-width: 60%;
  max-width: 60%;
  margin: auto;
}

.positive {
  background: #3CC1A3;
}


.negative {
  background: #D95A3C;
}

a.link, a.link:visited {
  color: #2C97DE;
}

a.link:hover {
  color: #0079FD;
}

#login {
  background: #324860;
  height: 4vh;
  color: #FFF;
  border-bottom: 7px solid #2C97DE;
  padding: 10px;
}

.mainContent {
  height: 96vh;
}

input[type='text'], input[type='password'] {
  position: relative;
  outline: none;
  box-shadow: none;
  color: #4C4C4C;
  padding: 0;
  width: 100%;
  background: transparent;
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid #A9A9A9;
  padding-bottom: 0.4em;
  font-size: 0.9em;
}

input[type='text']:focus, input[type='password']:focus {
  border-bottom: 2px solid #2C97DE !important;
}

label {
  font-size: 1.2em;
}

