body {
  margin: 0;
  padding: 0;
  font-family: "RobotoDraft", "Roboto", sans-serif;
  background: #F8F9F9;
  color: #4C4C4C;
}

#main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #F8F9F9;
  margin: auto;
}

.logoTitle {
  text-align: center;
  margin: 1em auto 3em auto;
  font-size: 2em;
}

.homeOptions {
  margin: 10px auto;
  text-align: center;
}

.homeOptions .button {
  margin: 2em auto;
  max-width: 15em;
}

.button {
  display: block;
  text-decoration: none;
  background: #2C97DE;
  border: none;
  color: #FFF;
  padding: 0.8em;
  -webkit-box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.4);
  box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.4);
}

.button:hover {
  text-decoration: none;
  cursor: pointer;
}

#login {
  background: #324860;
  height: 4vh;
  color: #FFF;
  border-bottom: 7px solid #2C97DE;
  padding: 10px;
}

li a span {
  font-size: 80%;
}

li a {
  text-decoration: none;
  padding: 10px 2px;
  color: #000;
}

.column {
  width: 48%;
  float: left;
  padding-right: 2%;
}

.column:last-of-type {
  padding: 0 0 0 2%;
}
