.titleContainer h1, .titleContainer h2, .titleContainer h3,
.titleContainer h4, .titleContainer h5, .titleContainer h6,
.titleContainer p {
  margin: 0;
  font-size: 40px;
  font-weight: 300;
}

.textReduced p, .textReduced h1, .textReduced h2, .textReduced h3,
.textReduced h4, .textReduced h5, .textReduced h6 {
  display: inline-block;
  margin: 0;
}

.mainTextColumn {
  font-weight: 500;
}

.secondaryTextColumn {
  font-weight: 400;
}

.questionFooter .highlightText {
  color: #2C97DE;
  font-size: 1.6em;
  font-weight: bold;
}

.winnerContainer .winnerTitle {
  font-size: 1.8em;
  margin-bottom: 0.1em;
  font-weight: bold;
}

.winnerContainer .winnerSubtitle {
  font-style: oblique;
  font-size: 1.2em;
  font-weight: 300;
}
