<template name='roomNew'>
  {{#if currentUser}}
    {{> status}}

    <div class='container'>
      <div class='titleContainer'>
        <h2> New Room </h2>
      </div>
      <div class='bodyContainer'>
        <form>
          <div class='row'>
            <div class='column-2 textCenter'>
              <input id='private_room' name='privacy' type='radio' value='private' />
              <label for='private_room'> Private </label>
            </div>
            <div class='column-2 textCenter'>
              <input id='public_room' name='privacy' type='radio' value='public' />
              <label for='public_room'> Public </label>
            </div>
          </div>
          <div class='row'>
            <button id='create-game' class='button primary centeredButton positive'> Create Game </button>
          </div>
          <div class='row'>
            <a class='button primary centeredButton negative' href='/'> Cancel </a>
          </div>
        </form>
      </div>
    </div>
  {{/if}}
</template>
