.container {
  position: relative;
  background: #FFF;
  width: 60vh;
  max-height: 94%;
  margin: 1em auto;
  border: 1px solid #ccc;
  -webkit-box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.4);
  box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.4);
}

.bodyContainer {
  padding: 2em;
}

.footerContainer {
  padding: 2em;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.textCenter {
  text-align: center;
}

.titleContainer {
  text-align: center;
  padding: 1.4em 1em 0.8em 1em;
  border-bottom: 1px solid #ccc;
}

.playersList {
  min-height: 15vh;
}

.playersList ul {
  margin: 0.6em 0.8em;
  list-style: none;
  font-size: 1.15em;
  color: #969696;
  padding: 0;
}

.playersList ul li {
  padding: 0.5em 0 0.3em 1.2em;
  border-bottom: 1px solid #C4C4C4;
}

.scoresList {
  display: table;
  table-layout: fixed;
  font-size: 1.15em;
  color: #969696;
  padding: 0;
  width: 100%;
}

.scoresList .scoreItem {
  display: table-row;
}

.scoreItem .scoreCell {
  display: table-cell;
  padding: 0.5em 0 0.3em 0;
  border-bottom: 1px solid #C4C4C4;
}

.scoreItem .scoreCell p {
  margin: 0;
  vertical-align: middle;
  overflow: hidden;
  margin-right: 5%;
}

.scoreItem .scoreCell.scoreUsername {
  font-weight: 300;
  width: 45%;
}

.scoreItem .scoreCell.scoreScore {
  font-weight: 500;
  text-align: left;
}

.row {
  width: 100%;
  margin: 1em 0;
  padding: 0.5em 0
}

.smallRow {
  margin: 0em 0 !important;
}

.smallRow .column-2 {
  margin: 0 !important;
}

.smallRow .column-2:last-child {
  float: right;
}

.column-12 {
  display: inline-block;
  margin: 0;
  width: 50%;
}

.column-2 {
  display: inline-block;
  margin: 0 1%;
  width: 46%;
}

.column-3 {
  display: inline-block;
  margin: 0 0;
  width: 24%;
}

.detailColumn {
  display: inline-block;
}

.detailColumn:last-child {
  float: right;
}

/*
deepBlue #324860;

lightBlue #2C97DE;

green #3CC1A3;

red #D95A3C;

lightGrey #F8F9F9;

darkGrey #4C4C4C;
*/
