<template name='home'>
  {{> signupLogin}}
  {{#if currentUser}}
    <div class='container'>
      <h1 class='logoTitle'> Logic Battle </h1>
      <div class='mainOptions'>
        {{> optionsList}}
      </div>
    </div>
  {{/if}}
</template>

<template name='status'>
  <p> <a href='/'>_&larr; home </a></p>
</template>

<template name='optionsList'>
  <div class='homeOptions'>
    <a id='play-now' href='/room/join_now' class='button primary'> Play Now </a>
    <a href='/room/join' class='button primary'> Join Game </a>
    <a href='/room/new' class='button primary'> Create Game </a>
  </div>
</template>
