<template name='login'>
  <div class='container'>
    <div class='titleContainer'>
      <h1> Log In</h1>
    </div>
    <div class='bodyContainer'>
      <form>
        <div class='row'>
          <input type='text' id='li-username' placeholder='Username' />
        </div>
        <div class='row'>
          <input type='password' id='li-password' placeholder='Password' />
        </div>
        <div class='row'>
          <button class='button primary centeredButton'> Log In </button>
        </div>
      </form>
    </div>
    <div class='footerContainer textRight'>
      <a class='link' href='/signIn'> Need an account? </a>
    </div>
  </div>
</template>

<template name='logout'>
  <form>
    ({{ currentUser.username }})
    <button> Log Out</button>
  </form>
</template>

<template name='signupLogin'>
  {{#if loggingIn}}
    Logging in . . .
  {{else}}
    {{> login}}
  {{/if}}
</template>
