<template name='signIn'>
  <div class='container'>
    <div class='titleContainer'>
      <h1> Sign Up </h1>
    </div>
    <div class='bodyContainer'>
      <form>
        <div class='row'>
          <input type='email' id='su-email' placeholder='Email' />
        </div>
        <div class='row'>
          <input type='text' id='su-username' placeholder='Username' />
        </div>
        <div class='row'>
          <input type='password' id='su-password' placeholder='Password' />
        </div>
        <div class='row'>
          <button class='button primary centeredButton'> Sign Up </button>
        </div>
      </form>
    </div>
    <div class='footerContainer textRight'>
      <a class='link' href='/'> Already have an account? </a>
    </div>
  </div>
</template>

